
@{
    ViewBag.Title = "AgendamentoLavagem";
}

<h2>Tipo de Veiculo</h2>
<input type="checkbox" name="Moto" value="moto" />
    Moto<p></p>
<input type="checkbox" name="Carro Pequeno" value="carP" />
    Carro Pequeno<p></p>
<input type="checkbox" name="Carro Médio" value="carM" />
    Carro Médio <p></p>
<input type="checkbox" name="Carro Grande" value="carG" />
    Carro Grande <p></p>

<h2>Tipo de Lavagem</h2>
<input type="checkbox" name="Simples" value="Lsimples" />
    Simples <p></p>
<input type="checkbox" name="Completo" value="Lcompleto" />
    Completo <p></p>
<input type="checkbox" name="Especial" value="Lespecial" />
    Especial <p></p>