
@{
    ViewBag.Title = "Pagamento";
}

<h2>Formas de Pagamento</h2>

<div id="pagaragora">

    <h3>Dados do cartão</h3>

    <form>
        <div>
            <label>N° Do Cartão</label>
        <input type="text" />
        </div>

    </form>

</div>